* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
    display: block;
    max-width: 130%;
    transform: translateX(-30px);
}

.page-wrapper {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    background-color: lightgreen
}

.left-side {
    width: 350px;
    padding: 40px 0 0 30px;
    background-color: #3f6592;    
}

figure {
    width: 255px;
    height: 255px;
    margin: 0 auto;
    transform: translateX(-15px);
    border-radius: 50%;
    overflow: hidden;
}